.product-sm-carousel .owl-item {
	display: inline-block;
}
.product-sm-carousel {
	overflow: hidden;
}
.disabled {
	display: none;
}
.single-news .sn-img,.single-news .sn-content {
	width: 100%;
}
.single-news .sn-content {
	margin-top: 15px;
}
.banner-sm img:hover {
	cursor: pointer;
}
[data-revenda]:hover {
	cursor: pointer;
}