div.wpcf7 {

	margin: 0;

	padding: 0;

}



div.wpcf7-response-output {

	margin: 2em 0.5em 1em;

	padding: 0.2em 1em;

}



div.wpcf7 .screen-reader-response {

	position: absolute;

	overflow: hidden;

	clip: rect(1px, 1px, 1px, 1px);

	height: 1px;

	width: 1px;

	margin: 0;

	padding: 0;

	border: 0;

}



div.wpcf7-mail-sent-ok {

	width: 300px;

	border: 1px solid #398f14;

	float:left;

}



div.wpcf7-mail-sent-ng {

	border: 2px solid #ff0000;

}



div.wpcf7-spam-blocked {

	border: 2px solid #ffa500;

}



div.wpcf7-validation-errors {

	width: 300px;

	border: 1px solid #ff3300;

	float:left;

}



span.wpcf7-form-control-wrap {

	position: relative;

}



span.wpcf7-not-valid-tip {

	color: #f00;

	font-size: 1em;

	display: block;

}



.use-floating-validation-tip span.wpcf7-not-valid-tip { 

	position: absolute;

	top: 20%;

	left: 20%;

	z-index: 100;

	border: 1px solid #ff0000;

	background: #fff;

	padding: .2em .8em;

}



span.wpcf7-list-item {

	margin-left: 0.5em;

}



.wpcf7-display-none {

	display: none;

}



div.wpcf7 img.ajax-loader {

	border: none;

	vertical-align: middle;

	margin-left: 4px;

}



div.wpcf7 div.ajax-error {

	display: none;

}



div.wpcf7 .placeheld {

	color: #888;

}



.inputs{

    background-color: #EFEFEF;

    width: 100%;

    margin: 0px 0px 3px;

    padding: 12px 5px;

    border: 0px none;

    outline: 0px none;

    resize: none;

    font-size: 13px;

    color: #888;

}

#left{

	width: 500px;

	float:left;

	margin-right:50px;

}

#mensagem{

    width: 500px;

	float:left;

}



.qbutton{

	position: relative;

	display: inline-block;

	width: auto;

	height: 43px;

	line-height: 43px;

	margin-top: 0;

	padding: 0px 22px;

	font-size: 13px;

	font-weight: 600;

	letter-spacing: 1px;

	text-align: left;

	color: #fff;

	background-color: #eb005d;

	text-decoration: none;

	text-transform: uppercase;

	cursor: pointer;

	white-space: nowrap;

	border:none;

  	outline: none;

	border-radius: 2px;

	-o-border-radius: 2px;

	-moz-border-radius: 2px;

	-webkit-border-radius: 2px;

	-webkit-transition: all 0.2s ease 0s; 

	-moz-transition: all 0.2s ease 0s; 

	-o-transition: all 0.2s ease 0s;

	-webkit-backface-visibility: hidden;

	text-shadow: none;

}



.qbutton:hover{

	padding: 0px 32px;

	color: #fff;

	background-color: #2C2C2C;

}



@media screen and (min-width: 320px) {

   #left { width: 300px; }

   #mensagem { width: 300px; }

}

 

@media screen and (min-width: 480px) and (orientation: landscape) {

   #left { width: 450px; }

   #mensagem { width: 450px; }

}



@media screen and (min-width:600px) { 

   #left { width: 550px; }

   #mensagem { width: 550px; }

}



@media screen and (min-width:768px) { 

   #left { width: 300px; }

   #mensagem { width: 300px; }

}



@media screen and (min-width:992px) { 

   #left { width: 460px; }

   #mensagem { width: 460px; }

}